{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>{{ 'signinlabel' | trans }}</h1>
    {{ form_start(registrationForm) }}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="firstname" class="form-label">{{ 'signin.firstname' | trans }}</label>
                {{ form_widget(registrationForm.prenom) }}
                {{ form_errors(registrationForm.prenom) }}
            </div>
            <div class="form-group col-md-6">
                <label for="lastname" class="form-label">{{ 'signin.lastname' | trans }}</label>
                {{ form_widget(registrationForm.nom) }}
                {{ form_errors(registrationForm.nom) }}
            </div>
        </div>
        <div class="form-group">
            <label for="birthdate" class="form-label">{{ 'signin.birthdate' | trans }}</label>
            {{ form_widget(registrationForm.dateNaissance) }}
            {{ form_errors(registrationForm.dateNaissance) }}
        </div>
        <div class="form-group">
            <label for="email" class="form-label">{{ 'email' | trans }}</label>
            {{ form_widget(registrationForm.email) }}
            {{ form_errors(registrationForm.email) }}
        </div>
        <div class="form-group">
            <label for="password" class="form-label">{{ 'password' | trans }}</label>
            {{ form_widget(registrationForm.plainPassword) }}
            <small id="passwordHelpBlock" class="form-text text-muted">{{ form_errors(registrationForm.plainPassword) }}</small>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{{ 'signin' | trans }}</button>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}



