{% extends 'base.html.twig' %}

{% block title %}Mes réservations{% endblock %}

{% block body %}
    <h1>{{ 'myreservations' | trans }}</h1>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">{{ 'date' | trans }}</th>
            <th scope="col">{{ 'time' | trans }}</th>
            <th scope="col">{{ 'lieu' | trans }}</th>
            <th scope="col">{{ 'libelle' | trans }}</th>
            <th scope="col">{{ 'category' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <th>{{ reservation.event.date |format_datetime('full', 'none', locale='fr') }}</th>
                <th>{{ reservation.event.date |format_datetime('none', 'short', locale='fr') }}</th>
                <td>{{ reservation.event.lieu }}</td>
                <td>{{ reservation.event.libelle }}</td>
                <td>{{ reservation.event.category.nom }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
