{% block body %}
    {{ form_start(commentaire) }}
    <div class="mb-3">
        <label for="commentaire" class="form-label">{{ form_label(commentaire.contenu) }}</label>
        {{ form_widget(commentaire.contenu) }}
        <div id="commentaire" class="form-text">{{ form_errors(commentaire.contenu) }}</div>
    </div>
    <button type="submit" class="btn btn-primary">Commenter</button>
    {{ form_end(commentaire) }}
{% endblock %}