{% extends 'base.html.twig' %}

{% block title %}{{ event.libelle }}{% endblock %}

{% block eventPage %}
    <a class="nav-item nav-link active" href="{{ path('evenement.list') }}">Evenements</a>
{% endblock %}

{% block body %}
    <h1>{{ event.libelle }}</h1>
    {{ event.lieu }} - {{ event.date|date("d/m/Y H:i:s") }}
    {{ event.description }}
    <p>prix : {{ event.nbParticipantsMax }}</p>
    <p>Nombre participant max : {{ event.nbParticipantsMax }}</p>

{% endblock %}