{% extends 'base.html.twig' %}

{% block title %}{{ event.libelle }}{% endblock %}

{% block eventPage %}
    <a class="nav-item nav-link active" href="{{ path('evenement.list') }}">Evenements</a>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            {{ event.lieu }} - {{ event.date|format_datetime(locale='fr') }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ event.libelle }}</h5>
            <p class="card-text">{{ event.description }}</p>
            <a href="#" class="btn btn-primary">Commenter</a>
        </div>
    </div>
    <h1>{{ event.libelle }}</h1>
    {{ event.lieu }} - {{ event.date|date("d/m/Y H:i:s") }}
    {{ event.description }}
    <p>prix : {{ event.nbParticipantsMax }}</p>
    <p>Nombre participant max : {{ event.nbParticipantsMax }}</p>
<<<<<<< HEAD


    {{ form_start(commentaire) }}
    {{ form_widget(commentaire) }}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Enregistrer</button>
        </div>
    </div>
    {{ form_end(commentaire) }}

=======
>>>>>>> b20c687027ed4cf4d2ffa7603d8bd718dfcd2eb0
{% endblock %}