{{ form_start(form) }}
    {{ form_row(form.q) }}

    <h4>{{ 'category' | trans}}</h4>
    {{ form_row(form.categories) }}

    <button type="submit" class="btn btn-primary w-100">Filtrer</button>
{{ form_end(form) }}