{% extends 'base.html.twig' %}

{% block title %}Hello EvenementController!{% endblock %}
{% block body %}
        <h1>{{ 'evenements'|trans }}</h1>
        <a href="{{ path('evenement.create') }}" class="btn btn-primary" role="button">{{'event.add'|trans}}</a>
        <div class="row">
            <div class="col-md-3">
                {% include 'evenement/filtre.html.twig' with {form: form} only %}
            </div>
            <div class="col-md-9">
                <div class="grid">
                    {% for event in evenements %}
                        {% if event.date >  date() %}
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <a href="{{ path('event', {id:event.id}) }}"class="card-title"><h5>{{ event.libelle }}</h5></a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="btn btn-light btn-suppr" href="#" role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><span class="material-icons">delete</span></a>
                                        <a class="btn btn-light btn-suppr" href="{{ path('evenement.edit', {id:event.id}) }}" role="button"><span class="material-icons">create</span></a>
                                    {% endif %}
                                    <h6 class="card-subtitle mb-2 text-muted">{{ event.lieu }} - {{ event.date|date("d/m/Y H:i:s") }}</h6>
                                    <p class="card-text">{{ event.description }}</p>
                                    <p class="card-text">{{'event.price'|trans}} : {{ event.prix }}€</p>
                                    <p class="card-text">0 / {{ event.nbParticipantsMax }} participants</p>
                                    <a href="{{ path('reserver',{id:event.id}) }}" class="btn btn-secondary btn-sm" role="button">{{ 'event.book' | trans }}</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Suppression de l'élément</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Voulez-vous vraiment supprimer cet événement ? Si cet événement contient des annonces ou
                                        des commentaires, ces informations sont susceptible de disparaître.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <a class="btn btn-danger" href="{{ path('evenement.delete', {id:event.id}) }}" role="button">Confirmer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}