{% extends 'base.html.twig' %}

{% block title %}Hello EvenementController!{% endblock %}

{% block eventPage %}
    <a class="nav-item nav-link active" href="{{ path('events') }}">Evenements</a>
{% endblock %}

{% block body %}
        <h1>Evenements</h1>
        <a href="{{ path('evenement.create') }}" class="btn btn-primary" role="button" data-bs-toggle="button">Ajouter un événement</a>
        {% for event in evenements %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ event.libelle }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ event.lieu }} - {{ event.date|date("d/m/Y H:i:s") }}</h6>
                    <p class="card-text">{{ event.description }}</p>
                    <a href="#" class="card-link">{{ event.prix }}€</a>
                    <a href="#" class="card-link">0 / {{ event.nbParticipantsMax }} participants</a>
                </div>
            </div>
        {% endfor %}
{% endblock %}