{% extends 'base.html.twig' %}

{% block body %}
    {% if events is not empty %}
    <h1>{{ 'myevent' | trans }}</h1>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">{{ 'date' | trans }}</th>
            <th scope="col">{{ 'time' | trans }}</th>
            <th scope="col">{{ 'lieu' | trans }}</th>
            <th scope="col">{{ 'libelle' | trans }}</th>
            <th scope="col">{{ 'category' | trans }}</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <th>{{ event.date |format_datetime('full', 'none', locale='fr') }}</th>
                <th>{{ event.date |format_datetime('none', 'short', locale='fr') }}</th>
                <td>{{ event.lieu }}</td>
                <td>{{ event.libelle }}</td>
                <td>{{ event.category.nom }}</td>
                <td><a class="btn btn-danger" href="{{ path('evenement.delete', {id:event.id}) }}" role="button"><span class="material-icons">delete</span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-secondary" role="alert">
            {{ 'event.noorga' | trans}}
        </div>
    {% endif %}
{% endblock %}
